@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;700&display=swap');

:root {
  --font-display: 'Anton', sans-serif;
  --font-body: 'Poppins', sans-serif;
  --color-neutral: #f0e3ba;
  --color-dark: #303030;
  --color-primary: #8ab7cd;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-neutral);
}

.container {
  padding: 1rem;
}

.title {
  font-family: var(--font-display);
  text-align: center;
  color: var(--color-dark);
  background-color: var(--color-primary);
}
